@import 'app/scss/utils/variables';

hr {
  background-color: var(--accent);
  border: 0;
  height: 1px;
  @include mt(4.5);
  @include mb(5);
}

.connect {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;

  p {
    font-family: 'Montserrat-SemiBold', sans-serif;
    margin: 0;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  article {
    img {
      @include mr(4);

      @include breakpoint(m) {
        @include mr(3.5);
      }
    }
  }

  .phone {
    @include mb(4);
    @include mt(6);

    @include breakpoint(m) {
      @include mt(0);
    }
  }

  .email {
    text-decoration: underline;

    a {
      text-decoration-color: var(--accent);
      @include mt(2);
    }
  }
}

.copyright-text {
  text-align: center;
  font-style: italic;
}

.logo-section,
.working-hours,
.social-icons {
  display: none;
}

@include breakpoint(m) {
  footer {
    width: 95%;
    margin: 0 auto;
  }

  .connect {
    margin: 0;
  }

  .first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-section {
    display: block;
  }

  .working-hours {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;

    p {
      font-size: 26px;
      text-align: center;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  .social-icons {
    display: block;
    text-align: center;
    @include mb(5);

    a:not(:last-child) {
      @include mr(4.5);
    }
  }
}
