@import '../utils/variables';

.yellow-part {
  color: var(--secondary);
}

h1 {
  font-size: 48px;
  font-family: Norwester;
  font-weight: 500;
  color: var(--accent);
  @include mb(5);
}

h2 {
  font-size: 24px;
  font-family: Montserrat-SemiBold;
  color: var(--accent);
  @include mb(4);
}

p {
  font-size: 18px;
  font-family: Montserrat-Regular;
  color: var(--accent);
  @include mb(3);
}
