header.main-header {
  position: relative;
  display: flex;
  justify-content: center;
  @include mt(4);

  .mesh-image {
    display: none;

    @include breakpoint(m) {
      display: block;
      width: 120vw;
      height: 140%;
      top: -85px;
      position: absolute;
      z-index: -1;
    }
  }

  .bike-img {
    display: none;

    @include breakpoint(m) {
      display: block;
      width: 580px;
      min-width: 580px;
      max-height: 580px;
      height: 382px;
      margin: auto auto auto 0;

      @include breakpoint(l) {
        width: 737px;
        min-width: 737px;
        max-width: 737px;
        height: 469px;
      }
    }

    &.bike-wrapper {
      position: relative;
      left: -100%;
      animation: moveBike 1.2s ease-out 1s forwards;

      .bike-frame {
        width: 70%;
        object-fit: contain;
        margin: 0 auto;
        display: block;

        @include breakpoint(l) {
          width: 100%;
        }
      }

      .front-wheel,
      .back-wheel {
        position: absolute;
        z-index: -1;
        transform-origin: center center;
        animation: rotateWheel 1.2s ease-out 1s forwards;
      }

      .back-wheel {
        bottom: -56px;
        left: -13px;
        width: 43%;
        height: auto;

        @include breakpoint(l) {
          bottom: -40px;
          left: -20px;
        }
      }

      .front-wheel {
        right: -28px;
        bottom: -54px;
        width: 43%;
        height: auto;

        @include breakpoint(l) {
          right: -48px;
          bottom: -38px;
        }
      }
    }
  }

  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
    margin-bottom: -16px;

    & > * {
      @include my(4);
    }

    @include breakpoint(m) {
      @include ml('auto');

      @include breakpoint(l) {
        @include ml(3);
        width: 40%;

        & > * {
          @include my(2);
        }
      }
    }
  }

  .main-heading {
    font-size: 48px;
    text-align: center;
    @include mb(3);

    &.danish {
      font-family: Fairview-Regular;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 59px;
      font-weight: bolder;
    }
  }

  .working-hours {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .desktop {
      display: none;
    }

    article {
      max-width: 150px;

      p {
        font-size: 21px;
      }
    }

    .first-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: -16px;
      margin-bottom: -16px;

      & > * {
        @include my(7);
      }
    }

    .second-row {
      width: 50%;
    }

    @include breakpoint(m) {
      width: 83%;

      article {
        p {
          font-size: 26px;
        }
      }
    }

    @include breakpoint(working-hours) {
      .desktop {
        display: block;
      }

      .second-row {
        display: none;
      }
    }
  }

  .sub {
    font-size: 18px;
    font-family: Montserrat-SemiBold, sans-serif;
    text-align: center;
    @include mb(3);
  }

  .action-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: -9px;
    margin-bottom: -9px;
    max-width: 405px;

    @include breakpoint(m) {
      flex-direction: row;
    }

    @include breakpoint(l) {
      margin: 0;
    }

    & > * {
      min-width: 120px;
      max-width: 165px;

      &:first-of-type {
        @include mb(4);
        @include breakpoint(m) {
          @include mb(0);
          @include mr(2);
        }
      }

      svg {
        min-width: 24px;
        min-height: 24px;
      }
    }
  }

  @include breakpoint(m) {
    @include mt(6);
  }
}

@keyframes moveBike {
  from {
    left: -1000px;
  }

  to {
    left: 0;
  }
}

@keyframes rotateWheel {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
